<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIconFile</key>
    <string>Icon_II.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.infirmary-integrated</string>
    <key>CFBundleName</key>
    <string>Infirmary Integrated</string>
    <key>CFBundleDisplayName</key>
    <string>Infirmary Integrated</string>
    <key>CFBundleVersion</key>
    <string>2.6.2</string>
    <key>CFBundleShortVersionString</key>
    <string>2.6.2</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.12</string>
    <key>CFBundleExecutable</key>
    <string>Infirmary Integrated</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>    
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>UTExportedTypeDeclarations </key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.infirmary-integrated.ii</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>ii</string>
                </array>
            </dict>
            <key>UTTypeDescription</key>
            <string>Infirmary Integrated Simulation</string>
            <key>UTTypeIconFile</key>
            <string>Icon_II.icns</string>
        </dict>
    </array>
</dict>
</plist>
