<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="II_Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <II_Windows.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value/>
            </setting>
            <setting name="AutoApplyChanges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>560, 700</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MuteUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MuteUpgradeVersion" serializeAs="String">
                <value>0</value>
            </setting>
        </II_Windows.Properties.Settings>
    </userSettings>
</configuration>
