<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIconFile</key>
    <string>Icon_IISE.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.infirmary-integrated-scenario-editor</string>
    <key>CFBundleName</key>
    <string>Infirmary Integrated Scenario Editor</string>
    <key>CFBundleVersion</key>
    <string>1.0.2</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.2</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.12</string>
    <key>CFBundleExecutable</key>
    <string>Infirmary Integrated Scenario Editor</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>    
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>