Package: infirmary-integrated
Architecture: amd64
Maintainer: Ibi Keller <ibi.keller@gmail.com>
Description: A healthcare device simulator.
 Infirmary Integrated is free and open-source software developed to advance healthcare education for medical and nursing professionals and students. Developed as in-depth, accurate, and accessible educational tools, Infirmary Integrated can meet the needs of clinical simulators in emergency, critical care, and many other medical and nursing specialties.